@import "../../styles/variables";

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border-bottom: 1px solid $silver;
  width: 608px;
  margin: 0 auto;

  .menu-item {
    font: 600 14px "Montserrat", sans-serif;
    color: $gray-black;
    width: 89px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;

    &:hover {
      cursor: pointer;

      &:before {
        display: block;
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100px;
      height: 4px;
      background-color: $dodger-blue;
      border-radius: 4px 4px 0 0;
      display: none;
    }
  }
}
